<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
<link href="styles/styles.css" rel="stylesheet" type="text/css">
<meta charset="UTF-8">
<title> Pandas | Panda Land</title>
</head>

<body>

<header>
    <h1>(insert heading here)</h1>

    </header>

    <div class="container">

        <img src="images/logo.jpg" alt="logo" class="logo">


        <nav>
            <ul>

                <li><a href="home.html">Home</a></li>
                <li><a href="about-pandas.html">About Pandas</a></li>
                <li><a href="panda-facts.html">Facts</a></li>
                <li><a href="support-pandas.html">Support Pandas</a></li>
                
            </ul>
        </nav>


    </div>

    <main>

      <section>
        <p>
          99% of a pandas diet consists of only bamboo
        </p>
      </section>
    </main>
    
    
    <footer>
      &copy;Edgar Cortes
      <a href="https://cascadia.edu" target="_blank">Cascadia College</a>
    </footer>





    
    
   




















</html>